{{ docType() }}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock title %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}
    {% block style %}{% endblock style %}
    {% block script %}{% endblock script %}
</head>
<body>
<div>
    {% block content %}{% endblock content %}
</div>


<!-- /container -->
{% block inline %}{% endblock inline %}

</body>
</html>