<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes...
    #RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    #RewriteRule ^(.*)$ /index.(html|php)/$1 [L]
	<IfModule mod_fcgid.c>
		RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
	</IfModule>

	<IfModule !mod_fcgid.c>

		# for normal Apache installations
		<IfModule mod_php5.c>
			RewriteRule ^(.*)$ index.php/$1 [L]
		</IfModule>

		# for Apache FGCI installations
		<IfModule !mod_php5.c>
			RewriteRule ^(.*)$ index.php?/$1 [QSA,L]
		</IfModule>

	</IfModule>
</IfModule>
